depends: [
  "ocaml" {= "5.5.0"}
  "dune" {>= "3.23"}
  "digestif" {= "1.3.1"}
  "mirage-crypto" {= "2.2.0"}
  "mirage-crypto-ec" {= "2.2.0"}
  "mirage-crypto-rng" {= "2.2.0"}
  "inotify" {= "2.6" & os = "linux"}
  "lsp" {= "1.27.0"}
  "jsonrpc" {= "1.27.0"}
  "re" {= "1.14.0"}
  "zstd" {= "0.4"}
  "alcotest" {= "1.9.1" & with-test}
  "qcheck-core" {= "0.91" & with-test}
  "qcheck-alcotest" {= "0.91" & with-test}
  "odoc" {with-doc}
]
